* {
    box-sizing: border-box;
}


h1 {
    color:aliceblue;
    background-color: pink ;
    margin-inline: 20px;
}

body {
    background-color: gray ;
}

#p1 {
    color:yellow
}

.p2 {
    color:lightgreen;
}

.p3 {
    color: skyblue;
}

#p4 {
    color:aliceblue
}

.p5 {
    color:aliceblue;
    padding: 20px;
    background-color: navy;
}

.p6 {
    background-color: coral;
    padding-bottom: 20px;
    border: 10px solid navy;
    display: inline-block;

}

.border1 {
    background-color: azure;
    padding-bottom: 60px;
    border: 5px solid orange;
    margin-bottom: unset;
    display: inline-block;
}

